<div class="container">
  <div>
    <img class="img-fluid" src="../../../assets/img/imagen-2.png" alt="">
  </div>
</div>


<!-- targetas -->
<div class="container">
  <div class="row">
  <!-- | filter:'category':criterio -->
  <div class="col-12 col-sm-12 col-md-4 col-lg-3 col-xl-3 section-target">
      <div class="card">
        <img
          src=""
          class="img h-50"
        />
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"></p>
          <p class="card-text">
            COP
          </p>
          <a class="btn btn-primary">Agregar</a>
           <!-- (click)="agregar(item)" -->
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
